{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScrumptiousRecipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<title>
    {{ recipe_object.title }} -
    Scrumptious Recipes
</title>
<h1>{{ recipe_object.title }}</h1>
<img src="{{ recipe_object.picture }}">
<p>{{ recipe_object.description }}</p>
<body>
<main>
    <h1>Scrumdiddlyumptious Sauce</h1>
    <h2>Secret Sauce Recipe</h2>
        <img src="https://img.memegenerator.net/images/4265606.jpg" alt="Secret">
        <div id = "sauceDivs">
            <p class = "Sauce">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eius qui dolores. Non, vero. Repellendus saepe beatae, praesentium, ratione delectus quia veritatis iusto nisi possimus exercitationem atque adipisci eveniet aspernatur.
            </p>
        </div id = "sauceDivs">
    <h2>Secret Sauce But More Secret</h2>
        <img src="https://img.memegenerator.net/images/4265606.jpg" alt="Secret">
        <div id = "sauceDivs">
            <p class = "Sauce">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eius qui dolores. Non, vero. Repellendus saepe beatae, praesentium, ratione delectus quia veritatis iusto nisi possimus exercitationem atque adipisci eveniet aspernatur.
            </p>
        </div>



    </div>
    <footer>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde velit officiis, fuga corporis autem pariatur, animi accusamus quo accusantium natus reprehenderit eveniet, id asperiores optio aspernatur expedita! Perspiciatis, earum corporis!
    </footer>
</body>
</html>
